.myaccount {
    display: grid;
    grid-template-columns: 1fr;
    gap: 21px;
    height: auto;
}

.helloUser {
    width: 100%;
    height: auto;
    padding: 30px;
    background-color: #F0F0F0;  
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border-radius: 4px;
}

@media screen and (max-width: 557px) {
    .helloUser {
        background-color:transparent;
        box-shadow: none;
        padding: 0px 27px;
        height: auto !important;
    }

    .listAll {
        width: 100%;
        height: auto !important;
        padding:  0 27px;
    }
}

.listAll {
    width: 100%;
}