.main {
  margin: 0;
  margin-top: 70px;
  padding: 0;
}

.presentation {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/phonksec.appspot.com/o/logo-and-wallpapers%2Fphonksec_golf_imagem.webp?alt=media&token=ced5446a-5028-4429-94ef-6f8add9c6ff5');
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}

.logoImage {
  width: 420px;
}

.abs {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 20px;
}


.closeButton {
  padding: 5px 8px;
  font-size: 25px;
  display: flex;
  align-items: center;
  color: white;
  outline: 0;
  border:0;
  background-color: #FF3030;
  justify-content: center;
}

.welcomeInfo {
  padding: 0 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.welcomeInfo p {
  font-size: 25px;
  font-weight: normal;
  max-width: 400px;
  text-transform: uppercase;
  text-align: left;
  line-height: 30px;
}

.welcomeInfo h1 {
  font-size: 96px;
  font-weight: 500;
  max-width: 400px;
  color: #7DD149;
  text-transform: uppercase;
  text-align: left;
  line-height: 80px;
}

.welcomeButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcomeInfo a {
  font-size: 20px;
  padding: 10px 25px;
  display: inline-block;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #1E1E1E;
  box-shadow: 0px 0px 0px 2px #999999;
  border-radius: 2px;
}


.aboutGrid {
  padding: 72px 0;
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.singleInfo {
  width: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.singleDepoiment {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.depoiment {
  position: relative;
  padding: 60px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
  color: #333333;
  text-align: center;
}

.quoteLeft,
.quoteRight {
  z-index: 1;
  position: absolute;
  color:#E3E3E3;
  font-size: 50px;
}

.quoteLeft {
  top: 20px;
  left: 20px;
}

.quoteRight {
  bottom: 20px;
  right: 20px;
}

.depoiment img {
  width: 100px;
  height: 100px;
  z-index: 2;
  object-fit: cover;
  object-position: center;
  border-radius: 99999px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.depoiment h2 {
  font-weight: 400;
  z-index: 2;
}

.depoiment p {
  z-index: 2;
}



.infoImage img {
  width: 100%;
  height: auto;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #171717;
}

.info h2 {
  font-size: 38px;
  font-weight: normal;
}





@media screen and (max-width: 1283px) {

  .aboutGrid {
    padding: 72px 2%;
    display: flex;
    flex-direction: column;
    gap: 54px;
  }

 
  
}
@media screen and (max-width: 800px) {

  .singleInfo {
    width: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
  }

  .aboutGrid {
    padding: 72px 30px;
    display: flex;
    flex-direction: column;
    gap: 54px;
  }
  

  .singleInfo img {
    display: none;
  }

  .singleDepoiment {
    padding: 20px 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .depoiment {
    padding: 60px 20px;
  }

  
}

@media screen and (max-width: 790px) {

  .more {
    z-index: 102;
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 40%);
  }


  .artistSlide {
    padding: 5px 0;
    width: 100%;
    display: block;
    justify-content: flex-start;
    overflow-y: hidden;
    overflow-x: scroll;
  }
  
  .artistSliderWrapper {
    display: flex;
    width: calc((364px * 6) + 100px);
    padding: 0 20px;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
  }


  .artist {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #FFFFFF;
  }
  
  .artistDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 28px;
    gap: 20px;
    text-align: center;
    color: #111;
  }
  

 
}


@media screen and (max-width: 768px) {

  .singleDepoiment {
    padding: 20px 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .depoiment {
    padding: 60px 20px;
  }

  .presentation {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/phonksec.appspot.com/o/logo-and-wallpapers%2Fphonksec_golf_imagem.webp?alt=media&token=ced5446a-5028-4429-94ef-6f8add9c6ff5');
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
  }
  
  .logoImage {
    text-align: center !important;
    width: 300px;
  }
  
  .abs {
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
  }

  
  .absHeader h1 {
    font-weight: medium;
    font-size: 20px;
  }

  
  .welcomeInfo {
    padding: 0 12px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
  }
  
  .welcomeInfo p {
    font-size: 25px;
    font-weight: normal;
    max-width: 400px;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
  }
  
  .welcomeInfo h1 {
    font-size: 96px;
    font-weight: 500;
    max-width: 400px;
    color: #7DD149;
    text-transform: uppercase;
    text-align: center;
    line-height: 80px;
  }



  
}



