.main {
  margin: 0;
  padding: 0;
}

.presentation {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/phonksec.appspot.com/o/logo-and-wallpapers%2Fphonksec_golf_imagem.webp?alt=media&token=ced5446a-5028-4429-94ef-6f8add9c6ff5');
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}

.logoImage {
  display: block !important;
  max-width: 220px;
}

.abs {
  position: relative;
  width: 500px;
  height: 100%;
  background: #181818;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 16px;
}

.absHeader {
  width: 100%;
  height: 55px;
  background: #0018ED;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  color: white;
}

.absHeader h1 {
  font-weight: medium;
  font-size: 20px;
}

.closeButton {
  padding: 5px 8px;
  font-size: 25px;
  display: flex;
  align-items: center;
  color: white;
  outline: 0;
  border:0;
  background-color: #FF3030;
  justify-content: center;
}

.welcomeInfo {
  padding: 0 12px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.welcomeInfo p {
  font-size: 20px;
  font-weight: normal;
  max-width: 400px;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
}

.welcomeButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcomeInfo a {
  font-size: 20px;
  padding: 10px 25px;
  display: inline-block;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #1E1E1E;
  box-shadow: 0px 0px 0px 2px #999999;
  border-radius: 2px;
}


.welcomeInfo img {
  display: none;
}

.loading {
  z-index: 1002;
  width: 100vw;
  height: 100vh;
  background-color: #1A1A1A;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
}

.loadingLogo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100px;
  text-align: center;
  animation: logo 1s infinite;
} 

.loadingLogo img {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.categories {
  padding: 50px 0;
  background-color: #FFFFFF;
}

.categories h1 {
  font-weight: normal;
  color: #111;
  font-size: 30px;
  padding: 20px 0;
}

.products {
  position: relative;
  padding-top: 30px;
  background-color: #FFFFFF;
}

.products h1 {
  font-weight: normal;
  font-size: 30px;
  padding: 20px 0;
}

.more {
  z-index: 102;
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  height: 220px;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 40%);
}


.more a {
  text-align: center;
  text-decoration: none;
  padding: 15px 25px;
  font-size: 20px;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.664);
}

.infos {
  padding: 30px 0;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #FFFFFF;
  color: #111;
}

.infos img {
  width: 100%;
  height: auto !important;
}


.imgMobile {
  display: none;
}


.infoWrapper {
  position: relative;
  padding: 20px 0;
  color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  justify-content: center;
}

.infoWrapper h1 {
  padding: 0 2%;
  font-weight:500;
  font-size: 24px;
}

.infoWrapper p {
  padding: 0 20px;
  font-size: 18px;
}

.w1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: dense;
  direction: rtl;
}

.w2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.artist {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #181818;
}

.artistDesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 28px;
  gap: 20px;
  text-align: center;
  color: white;
}

.artistDesc h1 {
  font-size: 32px;
  font-weight: 500;
}

.artistDesc p {
  font-size: 20px;
  font-weight: 300;
  max-width: 800px;
}

.artistSlide {
  padding: 50px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.artistSlide::-webkit-scrollbar {
  display: none;
}

.artistSliderWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.artistSingle {
  display: flex;
  gap: 10px;
  width: 364px;
  height: 111px;
  padding: 10px;
  background: linear-gradient(180deg, rgba(44,43,43,1) 0%, rgba(0,0,0,1) 100%);
  border-radius: 5px;
  box-shadow: 0px 0px 1px 0px #ccc;
}

.artistSingle img {
  border-radius: 5px;
}

.artistSingle .artDesc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}

.ldsRing {
  display: inline-block;
  position: relative;
  width: 100px;
  background-image: url('https://cdn.discordapp.com/attachments/1176185521983201290/1209477054182199369/remix-aa14e69a-af31-4617-994e-38489ca70684.png?ex=65f04ac8&is=65ddd5c8&hm=c4627ab53fcbf8b810b8069b9fc0258d39d58371392c9f2af7a91ade554c9528&');
  background-position: 20px 20px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 100px;
}
.ldsRing div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 74px;
  height: 74px;
  margin: 8px;
  border: 8px solid #7ACF48ff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #7ACF48ff transparent transparent transparent;
}
.ldsRing div:nth-child(1) {
  animation-delay: -0.45s;
}
.ldsRing div:nth-child(2) {
  animation-delay: -0.3s;
}
.ldsRing div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}





@keyframes logo {
  from {
    opacity: 0.5;
  }
  to{
    opacity: 1;
  }
}

@media screen and (max-width: 1175px) {

  .artistSlide {
    padding: 50px 0;
    width: 100%;
  }
  
  .artistSliderWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
}
@media screen and (max-width: 800px) {

  .infos {
    padding: initial;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #181818;
  }


  .categories {
    padding: 50px 0;
    background-color: #181818;
  }


  .categories h1 {
    color: white;
  }




  .infoWrapper {
    padding: 20px 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    justify-content: center;
  }

  .imgPC {
    display: none;
  }

  .imgMobile {
    display: block;
  }
  

  .w1 {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: row-reverse;
  }

  .w2 {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: row-reverse;
  }

  .categories h1 {
    font-weight: normal;
    color: white;
    font-size: 30px;
    padding: 20px 32px;
  }


  .artistSlide {
    padding: 50px 0;
    width: 100%;
  }
  
  .artistSliderWrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }


  
}

@media screen and (max-width: 668px) {

  .more {
    z-index: 102;
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 40%);
  }


  .artistSlide {
    padding: 5px 0;
    width: 100%;
    display: block;
    justify-content: flex-start;
    overflow-y: hidden;
    overflow-x: scroll;
  }
  
  .artistSliderWrapper {
    display: flex;
    width: calc((364px * 4) + 100px);
    padding: 0 20px;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
  }


  .artist {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #FFFFFF;
  }
  
  .artistDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 28px;
    gap: 20px;
    text-align: center;
    color: #111;
  }
  

 
}


@media screen and (max-width: 513px) {

  .categories {
    
    padding: 0;
  }

  .products h1 {
    font-weight: normal;
    font-size: 30px;
    padding: 5px 32px;
  }

  .imgMobile {
    display: block;
  }

  .infos {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #181818;
  }
  
  .infos img {
    width: 100%;
  }
  
  .infoWrapper {
    padding: 20px 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    justify-content: center;
  }

  .w1 {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: row-reverse;
  }

  .w2 {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: row-reverse;
  }

  .abs {
    position: initial;
    width: 100%;
    height: 400px;
    background: #E3E3E3;
    display: flex;
    color: black;
    flex-direction: column;
    border: 1px solid black;
    gap: 20px;
  }

  .absHeader {
    width: 100%;
    height: 55px;
    background: #0018ED;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    color: white;
  }

  
.presentation {
  background-image: url('https://cdn.discordapp.com/attachments/1124075504446738512/1213890680162619393/phonksec_golf_imagem.png?ex=65f71ecb&is=65e4a9cb&hm=c1d4127982a49d92697781bb4d43343d6062fe5b7682b8c1fbfa7f2430007be7&');
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  padding: 0 15px;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.welcomeInfo a {
  font-size: 20px;
  padding: 5px 10px;
  display: inline-block;
  font-weight: normal;
  text-transform: uppercase;
  box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
  border-radius: 2px;
}



.welcomeInfo {
  padding: 0 12px;
  display: flex;
  gap: initial;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  height: 100%;
}

.welcomeInfo p {
  font-size: 20px;
  font-weight: normal;
  max-width: initial;
  text-transform: uppercase;
  text-align: left;
  line-height: 40px;
}

.welcomeButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcomeInfo a {
  font-size: 20px;
  padding: 5px 10px;
  display: inline-block;
  font-weight: normal;
  background-color: #E3E3E3;
  text-transform: uppercase;
  box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
  border-radius: 2px;
}

.welcomeInfo img {
  display: block;
}


.logoImage {
  display: none !important;
}


.products h1 {
  font-weight: normal;
  font-size: 30px;
  padding: 5px 32px;
}

  
}



