
.button {
    padding: 10px 0;
    box-shadow: 0px 0px 3px 0.5px #2b2b2b;
    border-radius: 5px;
    display: flex;
    width: auto;
    gap: 10px;
    justify-content: center;
    color: #cccccc;
    background-color: #4d4d4d;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    max-width: 140px;
    border: 3px solid #292929;
    transition: 5ms;
    cursor: pointer;
}


.button:hover,
.button:focus {
    box-shadow: 0px 0px 5px 0.5px #2b2b2b;
    border: 3px solid #363636;
}
