
.button {
    height: 40px;
    border-radius: 5px;
    display: flex;
    width: auto;
    gap: 10px;
    justify-content: center;
    color: #cccccc;
    background-color: #4d4d4d;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    max-width: 120px;
    transition: 5ms;
    border: 0;
    cursor: pointer;
}


.button:hover {
    background-color: #616161;
}
.button:focus {
    color: #233b14;
    background-color: #7cce48;
}
