.form {
    width: 100%;
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.button {
    height: 40px;
    border-radius: 5px;
    display: flex;
    width: auto;
    gap: 10px;
    justify-content: center;
    color: #cccccc;
    background-color: #4d4d4d;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    max-width: 120px;
    transition: 5ms;
    border: 0;
    cursor: pointer;
}


.button:hover {
    background-color: #616161;
}
.button:focus {
    color: #233b14;
    background-color: #7cce48;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #1a1a1a4f;
    height: 100vh;
}

.formModal {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
    background-color: #1a1a1a;
}



.formModal button {
    height: 40px;
    border-radius: 5px;
    display: flex;
    width: auto;
    gap: 10px;
    justify-content: center;
    color: #cccccc;
    background-color: #4d4d4d;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    max-width: 120px;
    transition: 5ms;
    border: 0;
    cursor: pointer;
}


.formModal button:hover {
    background-color: #616161;
}
.formModal button:focus {
    color: #233b14;
    background-color: #7cce48;
}


.infoForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.label {
	padding: 5px 0;
	font-size: 14px;
    font-weight: 600;
	color: white;
}


.selectForm {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.selectForm button {
    width: 100%;
}

.confirm {
    position: fixed;
    right: 40px;
    bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(0, 107, 0);
    box-shadow: 0px 0px 3px 0.5px rgb(1, 58, 1);
    border: 3px solid rgb(1, 63, 1);

}


.sizes {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    width: 100%;
    padding: 20px 2%;
    gap: 5px;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 0px 1px #ccc;
    background: #1a1a1a;
}

.addSizes {
    display: inline-flex;
    height: 45px;
    color: white;
    border-radius: 0.5rem;
    font-size: 12px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    border: 0;
    box-shadow: 0px 0px 0px 0.5px #ccc;
    background-color: #1f1f1f;
    cursor: pointer;
}