.header {
    z-index: 1001;
    width: 100%;
    margin: 0 auto;
    height: 70px;
    background-color: #1A1A1A;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.drop {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    gap: 5px;
}

.drop svg {
    font-size: 15px !important;
}


.categ {
    z-index: 900;
    position:fixed;
    top: 70px;
    left: 50px;
    display: grid;
    width: 600px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(6,1fr);
    list-style-type: none;
    animation: .3s ease fadeIn;
    list-style-type: none;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    } to {
        opacity: 1;
        transform: initial;
    }
}



.categFade {
    z-index: 900;
    position:fixed;
    top: 70px;
    left: 50px;
    display: grid;
    width: 600px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(6,1fr);
    list-style-type: none;
    animation: .3s ease fadeOut forwards;
    list-style-type: none;
}

@keyframes fadeOut {
    from {
        
        opacity: 1;
        transform: initial;
    } to {
        
        opacity: 0;
        transform: translateY(-20px);
        
    } to {
        top: -200px;
        display: none !important;
    }
}

.categ li {
    display: inline-flex;
    width: 100%;
    height: 90px;
    padding: 5px;
    background-color: #141414;
}

.categ li a {
    font-size: 14px;
    width: 100%;
    display: inline-flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}


.categ li:nth-of-type(6) {
    border-bottom-right-radius: 10px;
}

.categ li:nth-of-type(7) {
    border-bottom-left-radius: 10px;
}

.categ li:nth-of-type(9) {
    border-bottom-right-radius: 10px;
}

.categList li a {
    font-size: 14px;
    text-align: left;
}

.login {

    width: 500px;
    font-size: 14px;

}

.login:hover {
    text-decoration: underline;
}

.headerW {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100%;
    height: 70px;
    background-color: #1A1A1A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigationPc{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.navigationPc .pcCateg {
    width: 100%;
    padding: 0 30px;
    list-style-type: none;
    display: flex;
    font-size: 14px;
    justify-content: flex-start;
    align-items: center;
    color: white;
    gap: 40px;
}

.cart {
    display: flex;
    gap: 3px;
}

.logo {
    padding-right: 20px;
}

.logo img {
    transform: scale(0.8);
}

.navigationPc ul li a{
    text-decoration: none;
    color: white;
    transition: 0.2s;
    font-size: 15px;
}

.navigationPc a {
    display: flex;
    justify-content: center;
}

.navigationPc ul li a:hover {
    color: #7ACF48ff;
}

.navigation {
    display: none;
    justify-content: space-between;
    gap: 40px;
}

.navigation a {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 0;
    outline: 0;
    padding: 8px;
}

.navigation button {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 0;
    outline: 0;
    padding: 8px;
}

.navigationPc a {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 0;
    outline: 0;
    padding: 8px;
}

.navigation button svg {
    font-size: 16px;
    color: white;
}

 .navigationPc button svg {
    font-size: 15px;
    color: white;
}


@media screen and (max-width: 800px) {
    .navigation {
        display: flex;
    }

    .headerW {
        padding: 0 28px;
    }

    .navigationPc {
        display: none;
    }

    .logo {
        padding-right: 0;
    }

    .categ {
        display: none;
        animation: none;
    }
}


@media screen and (max-width: 511px) {
    .headerW {
        padding: 0 28px;
    }
}