.painel {
    display: flex;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    gap: 15px;
    background-color: rgb(48, 48, 48);
    height: 100vh;
}

::-moz-selection {
    color: white;
    background: #5bc917;
}
  
  ::selection {
    color: white;
    background: #5bc917;
  }
