.productSlider {
    padding: 1rem 0;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.productSlim {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    position: relative;
}

.infoProduct {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infoProduct h1 {
    font-size: 40px;
}

.price {
    font-size: 40px !important;
    color: black;
}

.infoProduct p {
    font-size: 1rem;
    color: rgb(24, 24, 24);
}

.checks {
    display: grid;
    grid-template-columns: repeat(9,1fr);
    justify-content: flex-start;
    align-items: flex-start;
}

.widthButton {
    width: 45px;
    height: 45px;
    border-radius: 1000px;
    background-color: white;
    border: 0;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    box-shadow: 0px 0px 2px 0px #ccc;

}

.checkUp {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
}

.addCart {
    padding: .9rem 3.5rem;
    background-color: #111;
    color: white;
    font-size: 16px;
    font-weight: 400 !important;
    border: 0;
    cursor: pointer;
    border-radius: 0.4rem;
    grid-column: 1 / 5;
    box-shadow: 0px 0px 0px 1px #ccc;
    display: inline-block;
}

.addCart img {
    fill: white;
}

.checkUp button:nth-child(1) {
    padding: 1.2rem 1.3rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .4rem;
    box-shadow: 0px 0px 0px 1px #ccc;
}

.checkUp button:nth-child(1) svg {
    color: rgb(59, 59, 59);
}

.widthButton:hover,
.widthButton:focus {
    box-shadow: 0px 0px 0px 1px #5bc917;    
}

.widthFocus {
    box-shadow: 0px 0px 0px 1px #5bc917;    
}


.percent {
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
}

.percent h2 {
    padding: 10px;
    background-color: green;
    color: white;
}



.singleSlider {
    width: 100%;
    height: 76vh !important;
    object-fit: cover;
}




.thumbPage {
    width: 56px;
    height: 56px;
    object-fit: cover;
    transform: scale(0.9);
    border-radius: 2.3px;
    cursor: pointer;
    box-shadow: 0px 0px 3px 0px #ccc;
}

.thumbPage:hover {

    box-shadow: 0px 0px 0px 3px #5bc917;    

}

@media screen and (max-width: 900px) {

    .addCart {
        padding: .9rem 3.5rem;
        background-color: #111;
        color: white;
        font-size: 16px;
        font-weight: 400 !important;
        border: 0;
        cursor: pointer;
        border-radius: 0.4rem;
        grid-column: 1 / 8;
        box-shadow: 0px 0px 0px 1px #ccc;
        display: inline-block;
    
    }

    
    .checks {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        justify-content: flex-start;
        align-items: flex-start;
    }

}

@media screen and (max-width: 768px) {
    .productSlider {
        padding: 1rem 27px;
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .infoProduct {
        padding: 0 10px;
    }

    .addCart {
        padding: .9rem 3.5rem;
        background-color: #111;
        color: white;
        font-size: 16px;
        font-weight: 400 !important;
        border: 0;
        cursor: pointer;
        border-radius: 0.4rem;
        grid-column: 1 / 6;
        box-shadow: 0px 0px 0px 1px #ccc;
        display: inline-block;
    
    }

    .checks {
        display: grid;
        grid-template-columns: repeat(9,1fr);
        justify-content: flex-start;
        align-items: flex-start;
    }

    .singleSlider {
        width: 100%;
        height: 50vh !important;
        object-fit: cover;
    }
    
}

@media screen and (max-width: 500px) {
    .productSlider {
        padding: 1rem;
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .addCart {
        padding: .9rem 3.5rem;
        background-color: #111;
        color: white;
        font-size: 16px;
        font-weight: 400 !important;
        border: 0;
        cursor: pointer;
        border-radius: 0.4rem;
        grid-column: 1 / 9;
        box-shadow: 0px 0px 0px 1px #ccc;
        display: inline-block;
    
    }

    .checks {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        justify-content: flex-start;
        align-items: flex-start;
    }
}