
.questionsWrapper {
    height: 100vh;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/phonksec.appspot.com/o/logo-and-wallpapers%2Fphonksec_golf_imagem.webp?alt=media&token=ced5446a-5028-4429-94ef-6f8add9c6ff5');
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questionsWrapper h1 {
    font-size: 96px;
    color: #7DD149;
    font-weight: 600;
    text-transform: uppercase;
}

.questionsWrapper p {
    font-size: 30px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
}

.questionsDrop {
    padding: 40px 0;
}

.questionGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.innerDrop {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.questionGrid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    -o-object-fit: cover;
    -o-object-position: center;
    border-radius: .5rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}


@media screen and (max-width: 768px) {
    .questionGrid {
        padding: 0 27px;
        display: grid;
        grid-template-columns:1fr;
        gap: 20px;
    }

    .questionGrid img {
        width: 100%;
        height: 600px;
        object-fit: cover;
        object-position: center;
        -o-object-fit: cover;
        -o-object-position: center;
        border-radius: .5rem;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    }

    .questionsWrapper {
        text-align: center;
    }
}

@media screen and (max-width: 325px) {
    .questionsWrapper h1 {
        font-size: 80px;
        color: #7DD149;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    .questionsWrapper p {
        font-size: 30px;
        font-weight: 400;
        color: white;
        text-transform: uppercase;
    }
}