.cart {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 70px - 40px);
    padding: 0 27px;
}

.CartPay {
    padding: 0 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.CartPay h3 {
    font-weight: 400;
}


.CartPay button {
    height: 50px;
    border-radius: 5px;
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
    color: #cccccc;
    background-color: #1a1a1a;
    align-items: center;
    font-size: 14px;
    max-width: 200px;
    font-weight: 400;
    font-size: 16px;
    transition: 5ms;
    border: 0;
    cursor: pointer;
}


.CartPay button:hover {
    background-color: #616161;
}
.CartPay button:focus {
    color: #233b14;
    background-color: #7cce48;
}


.CartSingles {
    display: grid;
    padding: 0px 3px;
    padding-top: 3px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 10px;
    grid-template-columns: 1fr;
    gap: 10px;
    height: calc(100% - 70px - 50px);
    overflow-y: auto;
    overflow-x: hidden;
}

.CartSingle {
    padding: 20px;
    background-color: #F0F0F0;
    border-radius: 4px;
    height: 193px;
    
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.productSingle {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.productSingle img {
    border-radius: 4px;
    width: 150px;
    object-fit: cover;
    object-position: center;
    height: 150px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    background-color: white;
}

.productImage {
    position: relative;
}

.cartInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cartInfo p {
    position: relative;
}

.lastPrice {
    display: flex;
    gap: 10px;
    align-items: center;
}

.lastSingle {
    text-decoration: line-through;
    font-size: 14px;
}

.percent {
    text-decoration: none !important;
    color: white;
    font-size: 9px;
    padding: 5px 10px;
    border-radius: 100px;
    background-color: darkgreen;
}

.count {
    position: relative;
    display: flex;
}

.count button {
    width: 28px;
    height: 28px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    cursor: pointer;
}

.countNumber {
    font-size: 14px;
    width: 35px;
    height: 28px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.loading {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    -webkit-animation: AnimationName 2s infinite;
    -moz-animation: AnimationName 2s  infinite;
    -o-animation: AnimationName 2s  infinite;
    animation: AnimationName 2s  infinite;
    background: linear-gradient(310deg, #ffffff, #c6c6c6);  
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    background-size: 400% 400%;
}

@-webkit-keyframes AnimationName {
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}
@keyframes AnimationName {
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}

@media screen and (max-width: 550px){

    .lastPrice {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    
    .lastSingle {
        text-decoration: line-through;
        font-size: 12px;
    }

    .cartInfo {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 14px;
    }

    .CartPay button {
        height: 50px;
        border-radius: 5px;
        display: flex;
        width: 80%;
        gap: 10px;
        justify-content: center;
        color: #cccccc;
        background-color: #1a1a1a;
        align-items: center;
        font-size: 12px;
        max-width: 170px;
        font-weight: 400;
        font-size: 16px;
        transition: 5ms;
        border: 0;
        cursor: pointer;
    }

    .CartPay h3 {
        font-weight: 400;
        font-size: 16px;
    }

    .CartSingles {
        display: grid;
        padding: 0px 3px;
        padding-top: 3px;
        padding-bottom: 10px;
        grid-template-columns: 1fr;
        gap: 10px;
        height: calc(100% - 70px - 100px);
        overflow-y: auto;
        overflow-x: hidden;
    }
}